<mat-toolbar color="primary">Dicas <mat-icon style="margin-left: auto;" (click)="closeModal()">close</mat-icon></mat-toolbar>
<p style="text-align: center; padding-top: 15px;">Dicas do sistema.</p>
<mat-card-content>
    <p style="padding-top: 15px;">
        O nosso sistema possibilita fácil localização de postos de combustíveis. <br><br>
        Sempre que precisar saber o posto mais próximo em promoção, basta buscar aqui pelos mais recentes. <br><br>
        Também temos a nossa calculadora de custos, com ela você pode ver se é viável ou não abastecer o seu carro com certo tipo de combustível.<br><br>
        <i (click)="openDialogCalc()" style="color: brown; text-decoration: underline;">Clique aqui para acessar a calculadora.</i> 
    </p>
</mat-card-content>
