
  <p>
    <mat-toolbar color="primary">Formulário de Cadastro</mat-toolbar>
  </p>
  <mat-card-content>
    <form>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Selecione a categoria</mat-label>
        <mat-select>
          <mat-option value="null"> </mat-option>
          <mat-option value="front-end">Front-End</mat-option>
          <mat-option value="back-end">Back-End</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="full-widt">
    <button mat-raised-button color="primary"class="bt-separator">Salvar</button>
    <button mat-raised-button>Cancelar</button>
  </mat-card-actions>
