<mat-toolbar color="primary">Entenda o cálculo <mat-icon style="margin-left: auto;" (click)="closeModal()">close</mat-icon></mat-toolbar>

<mat-card-content>
  <p style="padding-top: 15px;">
      Dividimos o preço do litro do álcool pelo da gasolina. <br><br>
      Se o resultado for menor que 0,7, abasteça com álcool. Caso contrário, escolha a gasolina. <br><br>
      Exemplo: Álcool a R$ 3,29 e gasolina a R$ 4,92 resultam em 0,67 na divisão. <br><br>
      Logo, abastecer com álcool é vantajoso.
  </p>
</mat-card-content>
