.example-card {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJxA5cTf-5dh5Eusm0puHbvAhOrCRPtckzjA&usqp=CAU');
  background-size: cover;
}
.price{
  margin-left: auto;
}
.notop{
  padding-top: 10px;
}
