<div class="pad-top">
  <ng-container *ngFor="let posto of postosCombustivel">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ posto.nomePosto }}</mat-card-title>
        <mat-card-subtitle>@{{ posto.nome }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="'http://localhost:8081/api/imagem-posto/' + posto.imagemPath" alt="Imagem do posto de combustível">
      <mat-card-content>
        <p class="notop">
          Tipo do Combustível: {{ posto.tipoCombustivel }}
        </p>
        <p>Tipo do Pagamento: {{ posto.formaPagamento }}</p>
        <p>Cidade/Estado: {{ posto.endereco }}</p>
        <hr>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          <mat-icon>local_gas_station</mat-icon>
          Navegue até o posto
        </button>
        <button mat-button class="price">R${{ posto.valorCombustivel }}</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
