<div class="pad-top">
  <mat-form-field class="full-width text-right">
    <input matInput #nome maxlength="100" type="text" [(ngModel)]="enderecoFiltro" placeholder="Pesquise um endereço/cidade" (ngModelChange)="filtrarPorEndereco()">
    <mat-hint align="end">{{nome.value.length}} / 100</mat-hint>
  </mat-form-field>

  <div *ngIf="exibirMensagem" class="mensagem">
    Nenhum registro encontrado.
  </div>
  <ng-container *ngFor="let posto of postosCombustivel">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ posto.nomePosto }}</mat-card-title>
        <mat-card-subtitle>@{{ posto.nome }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="'https://easy-price-api-f4c785011c72.herokuapp.com/api/imagem-posto/' + posto.imagemPath" alt="Imagem do posto de combustível">
      <mat-card-content>
        <p class="notop">
          Tipo do Combustível: {{ posto.tipoCombustivel }}
        </p>
        <p>Tipo do Pagamento: {{ posto.formaPagamento }}</p>
        <p>Cidade/Estado: {{ posto.endereco }}</p>
        <hr>
      </mat-card-content>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Comentários ({{ posto.comentarios ? posto.comentarios.length : 0 }})
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon class="circle">account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container *ngIf="posto.comentarios && posto.comentarios.length > 0; else noComments">
          <div *ngFor="let comentario of posto.comentarios">
          <mat-card-subtitle>@{{ comentario.nome }}</mat-card-subtitle>
          <p>{{ comentario.comentario }}</p>
          <hr>

        </div>
      </ng-container>
      <button mat-raised-button color="warn" style="margin-left: 210px;" (click)="abrirDialogAdicionarComentario(posto.id)"><mat-icon> add_comment</mat-icon>Comentar</button>
        </mat-expansion-panel>
        <ng-template #noComments>
          <p>Ainda não há nenhum comentário nesse anuncio.</p>
        </ng-template>
      <mat-card-actions>
        <a mat-raised-button color="primary" [href]="getGoogleMapsLink(posto.endereco)" target="_blank">
          <mat-icon>local_gas_station</mat-icon>
          Navegue até o posto
        </a>
        <button mat-button class="price">R${{ posto.valorCombustivel }}</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
